body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

body {
    padding-top: 5rem;
}

.starter-template {
    padding: 4rem 1.5rem;
    text-align: center;
}

#flash {
    z-index: 1;
    animation: flash-message 6s forwards;
}

@keyframes flash-message {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}